<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recipic- Filipino Food Classification{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        orange: {
                            500: '#ff642f',
                            600: '#e65a2a',
                        }
                    }
                }
            }
        }
    </script>
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-white">
    {% block content %}{% endblock %}
    {% block extra_body %}{% endblock %}
</body>
</html>